.ss {
    margin:12px;
    width:600px;
    height: 450px;
    position:absolute;
    right:50%;
    left:20%;
    background-image: url(cold.jpg);
    background-size:100% 100%;
    box-shadow:1px 2px 10px 10px grey;
    animation: slider 9s infinite linear;

}
@keyframes slider{
    0% {background-image: url(990.png);}
    25%{background-image: url(99.jpg);}
    45%{background-image: url(claa.jpeg);}
    75%{background-image: url((libr.jpg);}
    100%{background-image: url(111.jpg);}
}
.title {
    top:0%;
    color:red;
    margin-left:130px;
}
.menu {
    height:39px;
    background-color: rgb(168, 2, 2);
    line-height: 35px;
}
.menu a{
    display: inline-block;
    padding:0 45px;
    color:rgb(247, 239, 239);
    text-align: center;
    font-size: 15px;
    border-right: 1px solid rgb(86, 40, 90);
    text-decoration: none;

}
.menu a:hover{
    background-size:100% 100%;
    background-color:black;
}    